# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


service-account.json

note.txt

drive-tokens.json
.env*.local

filterfilms-42c3e-firebase-adminsdk-fbsvc-2bfe5981e5.json
platform/vercel/envs/filterfilms-42c3e-firebase-adminsdk-fbsvc-2bfe5981e5.json.sops.env
platform/vercel/envs/client_secret_396585585345-19v4uhlq01d0agtibbcv8kqjbkddpmt6.apps.googleusercontent.com.json
