# Google OAuth (Drive)
GOOGLE_OAUTH_CLIENT_ID="your-client-id"
GOOGLE_OAUTH_CLIENT_SECRET="your-client-secret"
GOOGLE_OAUTH_REFRESH_TOKEN="your-refresh-token"
GOOGLE_DRIVE_FOLDER_ID="your-drive-folder-id"
GOOGLE_DRIVE_IMAGES_FOLDER_ID="your-drive-images-folder-id"

# Healthcheck
HEALTHCHECK_SECRET="your-healthcheck-secret"
DRIVE_HEALTHCHECK_TARGET="local" # local | remote | prod
DRIVE_HEALTHCHECK_URL_PROD="https://filterfilms.in/api/health/drive"
DRIVE_HEALTHCHECK_URL_REMOTE="http://100.64.11.64:8081/proxy/3002/"
DRIVE_HEALTHCHECK_URL_LOCAL="http://localhost:3002/api/health/drive"
HEALTHCHECK_SECRET_PROD="your-healthcheck-secret"
HEALTHCHECK_SECRET_REMOTE="your-healthcheck-secret"
HEALTHCHECK_SECRET_LOCAL="your-healthcheck-secret"
DRIVE_DISCORD_WEBHOOK_URL="https://discord.com/api/webhooks/your-id/your-token"

# Firebase Client
NEXT_PUBLIC_FIREBASE_API_KEY="your-api-key"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="your-auth-domain"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="your-project-id"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="your-storage-bucket"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="your-sender-id"
NEXT_PUBLIC_FIREBASE_APP_ID="your-app-id"

# Firebase Admin
FIREBASE_ADMIN_PROJECT_ID="your-project-id"
FIREBASE_ADMIN_CLIENT_EMAIL="your-admin-email"
FIREBASE_ADMIN_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
